<div class="row">
  <div class="col-xs-10">
    <app-task-edit />
    <hr />
    <ul class="list-group">
      <li
        class="list-group-item"
        style="
          cursor: pointer;
          justify-content: space-between;
          align-items: center;
          display: flex;
        "
        *ngFor="let task of tasks; let i = index"
      >
        <a (click)="onEditItem(i)">
          {{ task.id + " " + task.task_name + " " + task.task_description }}
        </a>
        <button class="btn" (click)="toggle(i)">View</button>
      </li>
    </ul>
  </div>
</div>
<app-task-details />
